.info-section{
    display: grid;
    padding: 10vh 1vh 10vh 1vh;
  
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 600px){

  body > div.return-home > a > i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em;
    color: #fa755a;
  }

    .base-container{
      display: none !important;
  }
}

@media screen and (min-width: 600px){

  body > div.return-home > a > i{
    display: none;
  }
 
  .nav-title{ font-size: 1vh;}

  .navbar-links {font-size: 1vw;} 


    
}

@media screen and (max-width: 1600px){

  .nav-section{
    background-color: #fa755a;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links  {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      padding: 3em 10em 3em 3em;
      text-indent: 5em;
      
  }
  
  .nav-title a{
      position: absolute;
      color: rgb(191, 219, 184);
      text-indent: .5em;
      font-size: 3.7vw;
      font-family: 'customfont';
      padding-top: .3em;
      text-decoration: none;
  }
  .navbar-links a{
      text-decoration: none;
      color: rgb(191, 219, 184);
      font-size: 1.5em;
      font-family: 'customfont';
      
  }


}


