

@font-face{
    font-family: 'customfont';
    src: url("/static/fonts/Walkway_Bold.woff") format('woff');
}

*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
   
}

.main-bg img {
    display: grid;
    max-width: 100%;
    height: 100%;
    overflow: hidden; 
}

 

@media screen and (max-width: 600px) {

    .main-bg img{
        display: grid;
        max-width: 300%;     
    }

    .hamburger-menu{
        width: 3em;
        height: 4em;
        position: fixed;
        top: .5rem;
        right: 1rem;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly !important;
    }

    .line{
        width: 100%;
        background-color: #a8b5ac;       
    }

  
    .navbar{
        width: 40vw;
        height: 100%;
        background-color: #35435A;
        position: fixed;
        top: 0;
        right: 100%;
        display: flex;
        align-items: center;
        line-height: 4.8em;
        padding-bottom: 2vw;      
    }

    .change{
        right: 0;   
    }

    .navbar-links {
        display: inline-flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: flex-end;
        font-size: 2vw;
        position: relative !important;  
        
    }

    .nav-link::before{
        content: "";
        position: absolute !important;
        background-color: #fa755a;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
        margin-top: 5vh;
        margin-left: 5vw;
        padding: 2vw !important;
        border-radius: 50%;
        padding: 2vw;
        z-index: -1 !important;
        transition-duration: .5s;

    }

    .nav-link:hover::before,
    .nav-link:hover::after{
        transform: scaleX(1);  
    }
  
    .nav-link::after{
        bottom: 1;
    }
    
    .nav-link::before{
        top: 1;
    }

    .nav-title a{
        font-size: 3vh  !important;
        padding: .5em;
        color: #000000 !important;
       
    }

    .line{
        width: 80%;
        height: .3em;
        background-color: #a8b5ac !important;
        transition: all 0.5s !important;
    }



    /* For hamburger menu animation */
    .change .line1{
        transform: rotateZ(-400deg) translate(-.5em,1em ) !important ;

    }
 
    .change .line2{
      
        opacity: 0;
    }

    .change .line3{
        transform: rotateZ(400deg) translate(-.5em, -1em) !important;
    }

    /* end hamburger menu section */
  
  }

  @media screen and (min-width: 600px){

    *{background-color: #fa755a;}   
    .nav-title{ font-size: 1vh;}
    .navbar-links {font-size: 1vw;} 
      
  }

  @media screen and (max-width: 1600px){
    
    .navbar-links  {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        padding: 3em 10em 3em 3em;
        text-indent: 5em;
        
    }
    
    .nav-title a{
        position: absolute;
        color: rgb(191, 219, 184);
        text-indent: .5em;
        font-size: 3.7vw;
        font-family: 'customfont';
        padding-top: .3em;
        text-decoration: none;
    }
    .navbar-links a{
        text-decoration: none;
        color: rgb(191, 219, 184);
        font-size: 1.5em;
        font-family: 'customfont';
        
    }
    
    
    

  }

