{% extends "base.html" %}

{% block content %}
<div class="login-title">
    <h1>Register</h1>
</div>
<form action="" method = 'POST' id="register" enctype="multipart/form-data">
    <!-- CSRF protection -->
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="register-container">
        <div class="form-field field-1">
            {{ form.username.label() }} 
            {{ form.username() }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        </div>
        <div class="form-field field-2">
            {{ form.password.label() }} 
            {{ form.password() }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-field field-submit"> 
            {{ form.submit() }} 
        </div>
    </div>

<div class="form-section">
    <p>Want to login? <a href="{{ url_for('login') }}">Click Here!</a></p>
{% endblock %}